h1 {

    text-align: center;
    color: rgba(0, 0, 0, 0.712);
    font-family: lucida 'Courier New', Courier, monospace;
}
.border {
    position: relative;
    border-width: 8px;
    height: 300px;
    width: 250px;
    margin: 20px;
    border-color:rgba(0,0,0);
    border-radius: 10%;
    border-style: solid;
}

#titles {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 20px;
}

#descriptions {
    background:rgba(250, 188, 94, 0.712);
}
    

.img-with-text {
    text-align: center;
    width: 250px;
}
.img-with-text img {
    display: block;
    margin: 0 auto;
}

#container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
}

#fyodor {
    height: auto;
    width: auto;
    margin: 40px;
    justify-self: center;
}
#khun {
    height: auto;
    width: auto;
    margin: 40px;
    justify-self: center;
}

.border:hover {
    animation-name: expand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes expand {
    0% {
        bottom: 0px;
        border-color:rgba(0, 0, 0,)
        
    }
    100% {
        bottom: 12px;
        border-color:rgb(245, 18, 18)
    }
    
}
